@charset "UTF-8";
.jd_container {
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  height: 1000px;
  background-color: pink;
  margin: 0 auto;
}
.jd_header {
  height: 44px;
  background-image: linear-gradient(to bottom, #ffffff, #cccccc);
  position: relative;
}
.jd_header .icon_back,
.jd_header .icon_menu {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  padding: 12px;
  background-origin: content-box;
  background-clip: content-box;
}
.jd_header .icon_back {
  left: 0;
  background-position: -20px 0;
}
.jd_header .icon_menu {
  right: 0;
  background-position: -60px 0;
}
.jd_header .title {
  height: 44px;
  margin: 0 44px;
  text-align: center;
}
.jd_header .title h3 {
  font-size: 18px;
  line-height: 44px;
}
.jd_tips {
  height: 34px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  text-align: center;
  background-color: #fff;
}
.jd_tips p {
  line-height: 32px;
  text-align: center;
  display: inline-block;
  position: relative;
  padding-left: 30px;
}
.jd_tips p::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background-image: url(../images/safe_icon.png);
  background-size: contain;
  top: 7px;
  left: 9px;
}
.jd_goods {
  margin-top: 10px;
  background-color: #fff;
}
.jd_checkbox {
  width: 20px;
  height: 20px;
  position: absolute;
  background-position: -180px -89px;
  top: 8px;
  left: 8px;
}
.jd_checkbox.checked {
  background-position: -180px -69px;
}
.goods_title {
  height: 34px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  line-height: 32px;
  padding-left: 34px;
  position: relative;
}
.goods_title .fl {
  padding-left: 20px;
  position: relative;
}
.goods_title .fl i {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 12px;
  left: 2px;
  background-size: 150px 150px;
}
.goods_title .fr {
  padding-right: 10px;
  color: #f23030;
}
.goods_content .goods_item {
  height: 100px;
  border-bottom: 1px solid #cccccc;
  padding-left: 34px;
  position: relative;
}
.goods_content .goods_item_left {
  width: 80px;
  height: 100px;
  float: left;
  padding-top: 10px;
}
.goods_content .goods_item_right {
  overflow: hidden;
  height: 100px;
  padding-top: 10px;
  padding-left: 10px;
  position: relative;
}
.goods_content .goods_item_right .bottom {
  height: 34px;
  position: absolute;
  bottom: 5px;
  width: 100%;
  left: 0;
  padding-left: 10px;
}
.goods_content .goods_item_right .num {
  width: 120px;
  height: 34px;
  border: 1px solid #cccccc;
}
.goods_content .goods_item_right .num span {
  height: 32px;
  float: left;
  width: 33.33%;
  line-height: 32px;
  text-align: center;
  font-size: 18px;
}
.goods_content .goods_item_right .num input {
  display: block;
  width: 100%;
  height: 100%;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  text-align: center;
}
.goods_content .goods_item_right .delete_box {
  width: 20px;
  height: 22px;
  margin-right: 5px;
  margin-top: 5px;
  cursor: pointer;
}
.goods_content .goods_item_right .delete_box .up {
  width: 18px;
  height: 4px;
  background-image: url(../images/delete_up.png);
  background-size: cover;
}
.goods_content .goods_item_right .delete_box .down {
  width: 18px;
  height: 18px;
  background-image: url(../images/delete_down.png);
  background-size: cover;
  margin-top: -2px;
}
.jd_mask {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: none;
}
.jd_mask .content {
  width: 300px;
  height: 150px;
  margin: 200px auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}
.jd_mask .content .info {
  height: 80px;
  border-bottom: 1px solid #cccccc;
  font-size: 18px;
  text-align: center;
  line-height: 80px;
}
.jd_mask .content .buttons {
  margin-top: 10px;
}
.jd_mask .content .buttons .cancel,
.jd_mask .content .buttons .confirm {
  width: 120px;
  height: 40px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  cursor: pointer;
}
.jd_mask .content .buttons .cancel {
  background-color: #fff;
}
.jd_mask .content .buttons .confirm {
  background-color: #f23030;
  color: #fff;
}
